page-tourism {
  ion-toolbar.scrollable-segments {
  	ion-segment {
  	  display: block;
  	  overflow-x: scroll;
  	  white-space: nowrap;

  	  ion-segment-button.segment-button {
  		display: inline-block;
  		width: auto;
  	  }
  	}
  }
}
