<!-- Generated template for the NewTabComponent component -->

  <ion-header no-border>
    <ion-navbar>

   <ion-buttons end transparent>
     <button ion-button icon-only (click)="dismiss()">
       <ion-icon name="md-close"></ion-icon>
     </button>
   </ion-buttons>

    </ion-navbar>
  </ion-header>

  <ion-content center text-center class="card-background-page" >

    <ion-list>
      <ion-list-header>
        Nueva experiencia de viaje
      </ion-list-header>

      <button ion-item  (click)="changePage('texto')">
        <ion-icon name="ios-clipboard" item-start color="primary"></ion-icon>
        <ion-label>Texto</ion-label>
      </button>
      <ion-item>
        <ion-icon name="camera" item-start color="primary"></ion-icon>
        <ion-label>Fotografía</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="md-videocam" item-start color="primary"></ion-icon>
        <ion-label>Video</ion-label>
      </ion-item>
    </ion-list>


    <ion-list>
      <ion-list-header>
          Nueva publicación en foro
      </ion-list-header>

      <ion-item>
        <ion-icon name="ionic" item-start color="primary"></ion-icon>
        <ion-label>Ionic View</ion-label>
        <button ion-button outline item-end>Uninstall</button>
      </ion-item>

    </ion-list>



  </ion-content>
