select-bitacora {

  ion-navbar ion-buttons button{
    margin-right: 10px !important;
    top:2px;
  }

  ion-searchbar input.searchbar-input{
    background-color: white !important;
    box-shadow: none !important;
    border: solid !important;
    border-width: 10 !important;
    border-radius: 100px !important;
    border-color: #f8f8f8 !important;
  }

  ion-content{
    background-color: white !important;
    ion-list ion-list-header{
      margin-bottom: 0px !important;
      padding: 0px;
      border: none !important;
      text-align: left !important;
      font-weight: bolder !important;
    }
  }


}
