page-home {

  .colored-button {
    color: #747474;
  }

  .swiper-pagination {
      bottom: 0px !important;
      background-color: white;
      .swiper-pagination-bullet {
        background: black;
        margin: 0 3px;
      }
    }

    .no-padding {
        padding: 0px !important;
    }

    .no-margin-sides{
      margin-left: 0px !important;
      margin-right: 0px !important;
    }

    .full-width{
      width: 100%;
    }



}
