<ion-header no-border >

  <!-- First Toolbar -->
  <ion-toolbar>
    <button  ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar (submit) = "search()"></ion-searchbar>
  </ion-toolbar>

  <!-- Second toolbar -->
  <ion-toolbar>
    <ion-segment color="primary" [(ngModel)]="tabs">
      <ion-segment-button value="social">
        Social
      </ion-segment-button>
      <ion-segment-button value="personal">
        Mis experiencias
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <listado-bitacoras-sociales *ngIf="tabs == 'social'"></listado-bitacoras-sociales>
  <listado-bitacoras-personales *ngIf="tabs == 'personal'"></listado-bitacoras-personales>
</ion-content>

<!--
<button ion-button color="secondary" style="  position: absolute;
  bottom: 60px;
  color:white;
  right: 5px;
  height:  55px;
  text-align:center;
  border-radius: 100px">
<ion-icon name="add-circle" style="font-size: xx-large"></ion-icon>
</button>
-->
