<ion-header no-border >

  <!-- First Toolbar -->
  <ion-toolbar>
    <button  ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-uppercase>Principal</ion-title>
  </ion-toolbar>

  <!-- Second toolbar -->
  <ion-toolbar>
    <ion-segment color="primary" [(ngModel)]="tabs">
      <ion-segment-button value="personal">
        Personal
      </ion-segment-button>
      <ion-segment-button value="shared">
        Compartidas
      </ion-segment-button>
      <ion-segment-button value="social">
        Social
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>


  <listado-bitacoras-personales *ngIf="tabs == 'personal'"></listado-bitacoras-personales>
  <listado-bitacoras-compartidas *ngIf="tabs == 'shared'"></listado-bitacoras-compartidas>
  <listado-bitacoras-sociales *ngIf="tabs == 'social'"></listado-bitacoras-sociales>


</ion-content>
