<ion-header>

  <ion-navbar transparent>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon style="color:white" name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content style="background-color: rgba(0,0,0,0.96) !important;" >

  <ion-slides  initialSlide="{{focus}}">
    <ion-slide *ngFor="let pic of pics; let i=index">
      <div class="swiper-zoom-container">
        <img [src]='pic.src'/>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>
