<!--
  Generated template for the BitacoraPersonalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border >

  <!-- First Toolbar -->
  <ion-navbar>

  </ion-navbar>

  <ion-toolbar>
    <ion-segment color="primary" [(ngModel)]="tabs">
      <ion-segment-button value="general">
        General
      </ion-segment-button>
      <ion-segment-button value="multimedia">
        Multimedia
      </ion-segment-button>
      <ion-segment-button value="route">
        Ruta
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-card *ngFor="let exp of entradas; let i=index" class="full-width-card">

    <ion-item *ngIf="exp">
        <ion-note name="subtitle" *ngIf="exp.created_at">{{exp.created_at}}</ion-note>
        <button ion-button  class="transparent" style="float: right; font-size: 2.4rem; margin:0px; top: -2px;" (click)="openPostActions()"><ion-icon name="ios-more"></ion-icon></button>
    </ion-item>

    <ion-card-content class="header">
      {{exp.title}}
    </ion-card-content>

    <ion-card-content no-padding class="multimedia"  *ngIf="exp.video != null" overflow-scroll="true">
      <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" width="100%">
       <source src="{{exp.video}}" type="video/mp4" />
      </video>
    </ion-card-content>

    <ion-card-content no-padding class="multimedia" *ngIf="exp.pics != null" name="picture-grids">

      <div *ngIf="exp.pics.length == 1">
        <img [src]="exp.pics[0].src" (click)=openModal(exp.pics,0) />
      </div>

      <div *ngIf="exp.pics.length == 2" class="grid-image-two">
        <div class="grid-image"><img [src]="exp.pics[0].src"  (click)=openModal(exp.pics,0) /></div>
        <div class="grid-image"><img [src]="exp.pics[1].src"   (click)=openModal(exp.pics,1) /></div>
      </div>

      <div *ngIf="exp.pics.length == 3"  class="grid-image-three">
        <div class="grid-image"><img [src]="exp.pics[0].src" (click)=openModal(exp.pics,0)/></div>
        <div class="grid-image"><img [src]="exp.pics[1].src" (click)=openModal(exp.pics,1)/></div>
        <div class="grid-image"><img [src]="exp.pics[2].src" (click)=openModal(exp.pics,2)/></div>
      </div>

      <div *ngIf="exp.pics.length == 4" class="grid-image-four-or-more">
          <div class="grid-image"><img [src]="exp.pics[0].src" (click)=openModal(exp.pics,0)/></div>
          <div class="grid-image"><img [src]="exp.pics[1].src" (click)=openModal(exp.pics,1)/></div>
          <div class="grid-image"><img [src]="exp.pics[2].src" (click)=openModal(exp.pics,2)/></div>
          <div class="grid-image"><img [src]="exp.pics[3].src" (click)=openModal(exp.pics,3)/></div>
      </div>

      <div *ngIf="exp.pics.length > 4">
        <div class="grid-image-four-or-more">
          <div class="grid-image"><img [src]="exp.pics[0].src" (click)=openModal(exp.pics,0)/></div>
          <div class="grid-image"><img [src]="exp.pics[1].src" (click)=openModal(exp.pics,1)/></div>
          <div class="grid-image"><img [src]="exp.pics[2].src" (click)=openModal(exp.pics,2)/></div>
          <div class="grid-image" style="text-align: center; position: relative;">
            <img [src]="exp.pics[3].src" (click)=openModal(exp.pics,3)/>
            <div style="position:absolute; width: 100%; height: 100%; top: 0; background-color: black; opacity: 0.75;"></div>
            <div style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%)">
              <h1 style="color: white;"><ion-icon style="padding-right: 5px" name="md-add"></ion-icon> {{ exp.pics.length - 3 }}</h1>
            </div>
          </div>
        </div>
      </div>
    </ion-card-content>

    <!--Cuerpo-->
    <ion-card-content *ngIf="exp.body" class="body" (click)="expClicked(exp)">
      {{exp.body}}
    </ion-card-content>

    <!-- Footer -->
    <ion-card-content  *ngIf="exp.author">
      <ion-note style="text-align: center"> (Compartido por: {{exp.author}})</ion-note>
    </ion-card-content>

    <!--Footer-->
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small class="content-small"  color="{{backup_liked}}" (click)="likePostClicked(exp);">
          <ion-icon name="thumbs-up" c ></ion-icon><div *ngIf="exp.likes">{{exp.likes}} Likes</div><div *ngIf="!exp.likes">{{backup_liked_count}} Likes</div>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button icon-start clear small class="content-small" color="dark" (click)="expClicked(exp)">
          <ion-icon name="text"></ion-icon>
          <div  *ngIf="exp.comments">{{exp.comments}} Comentarios</div>
          <div  *ngIf="!exp.comments">0 Comentarios</div>
        </button>
      </ion-col>

      <ion-col center text-center>
        <button ion-button icon-start clear small class="content-small" color="dark">
          <ion-icon name="share"></ion-icon><div>Compartir</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>
