<!--
<button ion-button small color="dark" style="    position: absolute;
    bottom: 5px
    right: 25%;
    left: 25%;
    width: 50%;
    border-radius: 20px;
    z-index: 1000;">
  Nueva bitácora
</button>
-->

<ion-card *ngFor="let bitacora of bitacoras; let i=index" class="full-width-card">

  <ion-item *ngIf="bitacora" (click)="openBitacora(bitacora)">
    <ion-note name="subtitle" *ngIf="bitacora.end_date">{{bitacora.start_date}} \u2022 {{bitacora.end_date}}</ion-note>
    <ion-note name="subtitle" *ngIf="!bitacora.end_date">{{bitacora.start_date}}</ion-note>
    <button ion-button  class="transparent" style="float: right; font-size: 2.4rem; margin:0px; top: -2px;" (click)="openBitacoraActions()"><ion-icon name="ios-more"></ion-icon></button>
  </ion-item>

  <ion-card-content *ngIf="bitacora.title" (click)="openBitacora(bitacora)" class="header" style="text-align: center; margin-bottom: 15px">
    <button *ngIf="bitacora.author" ion-button outline small style="height: 15px; font-size: x-small; margin-top: 0px; top:-4px; margin-right: 5px;" color="dark">Compartida</button>
    <div>{{bitacora.title}}</div>
  </ion-card-content>

  <ion-card-content no-padding (click)="openBitacora(bitacora)">
    <ion-slides *ngIf="bitacoras_pics[i].length > 1" pager="false" effect="fade">
      <ion-slide *ngFor="let pic of bitacoras_pics[i]">
        <img [src]="pic"/>
      </ion-slide>
    </ion-slides>

    <ion-slides *ngIf="bitacoras_pics[i].length == 1" pager="false" effect="fade">
      <ion-slide>
        <img [src]="bitacoras_pics[i]"/>
      </ion-slide>
    </ion-slides>
  </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small disable-hover class="content-small" color="dark">
          <ion-icon name="document"></ion-icon>
          <div>{{bitacoras_post_counter[i]}} Textos</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small disable-hover class="content-small" color="dark">
          <ion-icon name="md-camera"></ion-icon>
          <div>{{bitacoras_pic_counter[i]}} Fotos</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small disable-hover class="content-small" color="dark">
          <ion-icon name="md-videocam"></ion-icon>
          <div>{{bitacoras_vid_counter[i]}} Videos</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
