<!--
<button ion-button small color="dark" style="    position: absolute;
    bottom: 5px
    right: 25%;
    left: 25%;
    width: 50%;
    border-radius: 20px;
    z-index: 1000;">
  Nueva bitácora
</button>
-->

<ion-card *ngFor="let bitacora of bitacoras_personales; let i=index" class="full-width-card">

    <ion-card-content>
      <ion-row class="post-header">
        <ion-col col-11 (click)="openBitacora(bitacora.id)">
          <ion-note class="post-date">
            <span>{{bitacora.start_date}}</span><span *ngIf="bitacora.end_date != null"> / {{bitacora.end_date}} </span>
          </ion-note>
        </ion-col>

        <ion-col col-1>
            <button class="post-options" ion-button icon-only clear small round color="dark" (click)="openBitacoraActions()">
                <ion-icon name="md-more"></ion-icon>
            </button>
        </ion-col>

      </ion-row>

      <ion-card-title class="post-title" (click)="openBitacora(bitacora.id)">{{bitacora.title}}</ion-card-title>

    </ion-card-content>


      <ion-slides *ngIf="bitacoras_personales_pics[i].length > 1" pager="true" effect="fade">
        <ion-slide *ngFor="let pic of bitacoras_personales_pics[i]">
          <img [src]="pic"/>
        </ion-slide>
      </ion-slides>

      <ion-slides *ngIf="bitacoras_personales_pics[i].length == 1" pager="false" effect="fade">
        <ion-slide>
          <img [src]="bitacoras_personales_pics[i]"/>
        </ion-slide>
      </ion-slides>



    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small disable-hover class="colored-button">
          <ion-icon name="document"></ion-icon>
          <div>{{bitacoras_personales_post_counter[i]}}</div>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button icon-start clear small disable-hover class="colored-button">
          <ion-icon name="md-camera"></ion-icon>
          <div>{{bitacoras_personales_pic_counter[i]}}</div>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button icon-start clear small disable-hover class="colored-button">
          <ion-icon name="md-videocam"></ion-icon>
          <div>{{bitacoras_personales_vid_counter[i]}}</div>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button icon-start clear small disable-hover class="colored-button">
          <ion-icon name="md-eye"></ion-icon>
          <div>336</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
