
<label> lool </label>
  <ion-card *ngFor="let bitacora of bitacoras_personales; let i=index" class="full-width-card">
    <ion-card-content>

      <ion-row class="bitacora-header">

        <ion-col col-11>
          <ion-note class="bitacora-date">
            <ion-icon name="md-calendar"></ion-icon>
            <span >{{bitacora.start_date}} / {{bitacora.end_date}} </span>
          </ion-note>
        </ion-col>

        <ion-col col-1>
            <button class="bitacora-button" ion-button icon-only clear small round color="dark" (click)="openBitacoraActions()">
                <ion-icon name="md-more"></ion-icon>
            </button>
        </ion-col>

      </ion-row>

      <ion-card-title class="bitacora-title"> {{bitacora.title }}</ion-card-title>

    </ion-card-content>

    <ion-slides *ngIf="bitacoras_personales_pics[i].length > 1" pager="true" effect="fade">
      <ion-slide *ngFor="let pic of bitacoras_personales_pics[i]">
        <img [src]="pic"/>
      </ion-slide>
    </ion-slides>

    <ion-slides *ngIf="bitacoras_personales_pics[i].length == 1" pager="false" effect="fade">
      <ion-slide>
        <img [src]="bitacoras_personales_pics[i]"/>
      </ion-slide>
    </ion-slides>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small disable-hover class="colored-button">
          <ion-icon name="document"></ion-icon>
          <div>{{bitacoras_personales_post_counter[i]}}</div>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button icon-start clear small disable-hover class="colored-button">
          <ion-icon name="md-camera"></ion-icon>
          <div>{{bitacoras_personales_pic_counter[i]}}</div>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button icon-start clear small disable-hover class="colored-button">
          <ion-icon name="md-videocam"></ion-icon>
          <div>{{bitacoras_personales_vid_counter[i]}}</div>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button icon-start clear small disable-hover class="colored-button">
          <ion-icon name="md-eye"></ion-icon>
          <div>336</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
