page-new-photo-experience {


  ion-icon.block .button-inner{
    display:block;
  }
  
  ion-navbar ion-buttons button{
    margin-right: 10px !important;
    top:2px;
  }

  ion-content{
    background-color: white !important;
  }

  ion-input input{
    margin-left: 0px !important;
  }

  ion-textarea textarea{
    margin-left: 0px !important;
    height: 15em;
  }

  .transparent-fab{
    background-color: transparent;
    color: grey;
    box-shadow: none;
    top: -5px;
  }

  .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  .list-md .item-input.input-has-focus:last-child {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  .list-md .item-input.input-has-focus:last-child .item-inner {
    box-shadow: none;
  }

  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
    box-shadow: none;
  }

  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }
}
